*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button:focus,
.search-form__textfield:focus,
.content__card-link {
  outline: none;
}

.button {
  padding: 6px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
}

.more-button,
.search-form__submit-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -2px;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 0 30px;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.search-form {
  display: grid;
  grid-template-columns: 225px auto 194px;
  align-items: start;
  gap: 0 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 0 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.search-form__fieldset-title {
  font-size: inherit;
  font-weight: 400;
}

.search-form__textfield {
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  border-color: currentColor;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__pseudo-checkbox,
.search-form__label-text {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  padding: 1px;
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  align-self: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.content__details .title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
  height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  width: 200px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 90%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: 50% 50%;
}